snippet /       单行注释
	# ${1}
################
# Symfony常用配置
snippet im      继承配置
	imports:
	    - { resource: ${1}.yml }
snippet co      控制器
	_controller: ${1}
snippet re      资源
	resource: "${1}"
snippet tp      类型
	type: ${1}
snippet pr      前缀
	prefix: ${1}
snippet pa      路径
	path: ${1}
snippet pt      匹配模式
	pattern: ${1}
snippet df      默认
	defaults: ${1}
snippet <       { .. }
	{ ${1} }
################
