[user]
	name  = Ruchee
	email = my@ruchee.com
[core]
	editor = vim
[alias]
	cm   = commit
	co   = checkout
	br   = branch
	fe   = fetch
	st   = status
	me   = merge
	di   = diff
	tg   = tag
	rs   = reset
	rb   = rebase
	rv   = revert
	re   = remote
	pu   = push origin master
	pl   = pull origin master
	tp   = cat-file -t
	dp   = cat-file -p
	cmm  = commit -m
	cma  = commit -a -m
	lg   = log --pretty=format:'%Cgreen%h %Cblue%t %Creset| [%an] [%ad] %s%d' --graph --date=short --all
