<!DOCTYPE HTML>
<html>
    <head>
        <title>%title%</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="Stylesheet" type="text/css" href="%root_path%../public/css/main.css" />
        <!-- blog ico -->
        <link type="image/x-icon" rel="icon" href="%root_path%../public/images/ruchee.ico" />
        <link type="image/x-icon" rel="shortcut icon" href="%root_path%../public/images/ruchee.ico" />
        <!-- highlightjs -->
        <link rel="stylesheet" href="%root_path%../public/highlightjs/styles/ruchee.css">
        <script src="%root_path%../public/highlightjs/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>
        <center style="font-family: 'Microsoft Yahei', sans-serif; font-size: 1.80em; font-weight: normal; color: #FF6600">Ruchee的荒草园子</center>

        %content%

        <center  style="font-family: 'Microsoft Yahei'; font-size: small; font-weight: normal; color: #009933">
            Ruchee &copy; 2011 - 2015<br>
            Powered by <a href="http://www.vim.org" target="_blank">Vim</a> and <a href="https://github.com/vimwiki/vimwiki" target="_blank">Vimwiki</a>
        </center>
    </body>
</html>
